In [4]:
import pandas as pd
import pyodbc

conn = pyodbc.connect("DRIVER={NetezzaSQL};SERVER=netezza16; PORT=5480;DATABASE=OPI_PRD2; UID=szehra;PWD=********;")

cus=conn.cursor()
sql = "select * from pars_pwr.pars_odar limit 10"
DF = pd.read_sql_query(sql, conn)

,AMT_ID_ORIG,AMT_ID,AMT_RECOVERED,AMT_CLOSURE,AMT_COMMISION,AMT_PD,AMT_BIL,IS_PAR_CLM,IS_ASO_OPT_IN,IS_WF,...,IS_DM_OPS_TEAM_CDM,IS_DM_OPS_TEAM_DEVLIN,IS_DM_OPS_TEAM_CCM,IS_DM_OPS_TEAM_CART,IS_OPTUM_CDM,IS_ODAR_CLAIM_VALIDATED,IS_ODAR_CLAIM_LOCK_STATUS,IS_OFFSHORE_RESTRICTED,IS_PPR_HIGH_RISK_TIN,ODAR_BATCH_ID
count,10.000000,10.000000,10.0,10.0,10.0,10.00000,10.000000,10.000000,10.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.000000,1.000000e+01
mean,501.728000,501.728000,0.0,0.0,0.0,957.79900,1602.245000,0.800000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.700000,5.736248e+05
std,543.601928,543.601928,0.0,0.0,0.0,988.46546,2032.746308,0.421637,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.483046,1.110126e+06
min,75.200000,75.200000,0.0,0.0,0.0,75.20000,94.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.149450e+05
25%,133.110000,133.110000,0.0,0.0,0.0,172.88000,299.825000,1.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.250000,2.149450e+05
50%,175.385000,175.385000,0.0,0.0,0.0,678.21500,948.500000,1.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2.149450e+05
75%,683.557500,683.557500,0.0,0.0,0.0,1389.41250,1928.187500,1.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2.210815e+05
max,1562.740000,1562.740000,0.0,0.0,0.0,2850.00000,6785.900000,1.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3.732659e+06