In [6]:
import pandas as pd
import pyodbc

conn = pyodbc.connect("DRIVER={NetezzaSQL};SERVER=netezza16; PORT=5480;DATABASE=OPI_PRD2; UID=szehra;PWD=*********;")

cus=conn.cursor()
sql = "select * from pars_pwr.pars_odar limit 10"
DF = pd.read_sql_query(sql, conn)